@{
    Layout = "~/Views/Shared/Student/_Layout.cshtml";
}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Kì thi/ Bài kiểm tra sắp tới</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">STT</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên lớp học phần</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên kì thi/ bài kiểm tra</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Thời gian bắt đầu</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Thời gian kết thúc</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">1</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="~/StudentCourse/Detail">Nhập môn trí tuệ nhân tạo - Nhóm 5</a></h6>
                                    <span class="fw-normal">2022-2023.2.TIN3113.005</span>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="~/StudentExam/Detail">Thi kết thúc học phần</a></h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">7g30 ngày 15/05/2023</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">9g30 ngày 15/05/2023</h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">2</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Nhập môn trí tuệ nhân tạo - Nhóm 5</a></h6>
                                    <span class="fw-normal">2022-2023.2.TIN3113.005</span>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Thi kết thúc học phần</a></h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">7g30 ngày 15/05/2023</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">9g30 ngày 15/05/2023</h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">3</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Nhập môn trí tuệ nhân tạo - Nhóm 5</a></h6>
                                    <span class="fw-normal">2022-2023.2.TIN3113.005</span>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Thi kết thúc học phần</a></h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">7g30 ngày 15/05/2023</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">9g30 ngày 15/05/2023</h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">4</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Nhập môn trí tuệ nhân tạo - Nhóm 5</a></h6>
                                    <span class="fw-normal">2022-2023.2.TIN3113.005</span>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Thi kết thúc học phần</a></h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">7g30 ngày 15/05/2023</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">9g30 ngày 15/05/2023</h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">5</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Nhập môn trí tuệ nhân tạo - Nhóm 5</a></h6>
                                    <span class="fw-normal">2022-2023.2.TIN3113.005</span>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1"><a href="#">Thi kết thúc học phần</a></h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">7g30 ngày 15/05/2023</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">9g30 ngày 15/05/2023</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                        Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                    </h6>

                </div>
            </div>
            <div class="position-relative" style="background-color: white;">
                <div class="container p-3" style="height: 250px;">
                    <!-- Container content and buttons -->
                    <b>Đến hạn hôm nay</b>
                    <br>
                    <span><a href="~/StudentExam/Detail" style="color: black;">9g30 - Thi kết thúc học phần</a> </span>
                    <div class="float-end">
                        <a class="btn btn-primary" href="~/StudentCourse/Detail">Xem</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                        Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                    </h6>

                </div>
            </div>
            <div class="position-relative" style="background-color: white;">
                <div class="container p-3" style="height: 250px;">
                    <!-- Container content and buttons -->
                    <div class="float-end">
                        <button class="btn btn-primary">Button 1</button>
                        <button class="btn btn-secondary ms-2">Button 2</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                        Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                    </h6>

                </div>
            </div>
            <div class="position-relative" style="background-color: white;">
                <div class="container p-3" style="height: 250px;">
                    <!-- Container content and buttons -->
                    <div class="float-end">
                        <button class="btn btn-primary">Button 1</button>
                        <button class="btn btn-secondary ms-2">Button 2</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                        Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                    </h6>

                </div>
            </div>
            <div class="position-relative" style="background-color: white;">
                <div class="container p-3" style="height: 250px;">
                    <!-- Container content and buttons -->
                    <div class="float-end">
                        <button class="btn btn-primary">Button 1</button>
                        <button class="btn btn-secondary ms-2">Button 2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>