
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Teacher/_Layout.cshtml";
}

<div class="container-fluid">
    <!--  Row 1 -->
    <div class="d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                                type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                            Thông tin về lớp học
                            phần
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                            Kì thi của lớp
                        </button>
                        <button class="nav-link" id="nav-student-tab" data-bs-toggle="tab" data-bs-target="#nav-student"
                                type="button" role="tab" aria-controls="nav-student" aria-selected="false">
                            Danh sách sinh
                            viên
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <fieldset class="container-fluid form-horizontal hitec-fieldset">
                            <legend>Thông tin chung</legend>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Tên lớp học phần:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Nhập m&#244;n tr&#237; tuệ nh&#226;n tạo - Nh&#243;m 5</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Mã lớp học phần:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">2022-2023.2.TIN3113.005</p>
                                </div>
                                <label class="control-label col-xs-3">Số tín chỉ:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">3</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Giảng viên:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Đoàn Thị Hồng Phước,Nguyễn Ngọc Thủy (1990)</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Đơn vị phụ trách:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Khoa C&#244;ng nghệ th&#244;ng tin</p>
                                </div>
                            </div>

                        </fieldset>



                        <fieldset class="container-fluid form-horizontal hitec-fieldset">
                            <legend>Cách đánh giá điểm quá trình học, điểm thi kết thúc học phần (dự kiến)</legend>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Điểm QTHT:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static"> Điểm CC x 10% + Điểm KT1 x 10% + Điểm KT2 x 20%</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Điểm kết thúc học phần:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Điểm QTHT x 40% + Điểm thi x 60%</p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <a href="taokithi.html" class="btn btn-primary mb-4">Tạo kỳ thi</a>
                        <!-- Tiêu đề "Danh sách kì thi" -->
                        <h2 class="mb-4">Danh sách kì thi</h2>

                        <!-- Danh sách kì thi -->
                        <ul class="list-unstyled">
                            <li class="card mb-3 p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="thongtinkithi.html" class="text-decoration-none">
                                        <h5>Kỳ thi 1</h5>
                                        <p>Đến hạn: 2024-03-15</p>
                                    </a>
                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <!-- Biểu tượng ba chấm (ellipsis) -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                <path d="M5 1.5a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm5 0a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm-5-1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1zm5 0a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1z" />
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="taokithi.html">Chỉnh sửa</a></li>
                                            <li><a class="dropdown-item" href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="card mb-3 p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#" class="text-decoration-none">
                                        <h5>Kỳ thi 2</h5>
                                        <p>Đến hạn: 2024-03-15</p>
                                    </a>
                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <!-- Biểu tượng ba chấm (ellipsis) -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                <path d="M5 1.5a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm5 0a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm-5-1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1zm5 0a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1z" />
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
                                            <li><a class="dropdown-item" href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="card mb-3 p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#" class="text-decoration-none">
                                        <h5>Kỳ thi 3</h5>
                                        <p>Đến hạn: 2024-03-15</p>
                                    </a>
                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <!-- Biểu tượng ba chấm (ellipsis) -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                <path d="M5 1.5a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm5 0a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm-5-1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1zm5 0a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1z" />
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
                                            <li><a class="dropdown-item" href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

