@model IEnumerable<KLTN20T1020433.DomainModels.Entities.SubmissionFile>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="file-container">
        <form action="RemoveSubmissionFie" method="post" >
            <a href="DownLoadSubmissionFile" class="file-link form-control border mb-3" data-file="bainop1.jpg">
                <img src="../assets/images/logos/favicon.png" width="50px" alt="Demo Image" class="mx-1">
                @item.FileName
            </a>
            <input type="hidden" name="FileId" value="@item.FileId" />
            <button class="remove-button" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            </button>
        </form>
        
    </div>
}
