@{
    ViewData["Title"] = "CreateExam";
    Layout = "~/Views/Shared/Teacher/_Layout.cshtml";
}

<div class="container-fluid" style="padding-right: 5px">
    <!-- Row 1 -->
    <form action="~/TeacherTest/SelectStudents">
        <div class="d-flex justify-content-between align-items-center" ; style="margin-right: 20px">
            <h1 class="ms-2">Tạo bài kiểm tra</h1>
            <button type="submit" class="btn btn-primary" style="width: 150px;">Chọn sinh viên</button>

        </div>
        <div class="row">
            <!-- Cột trái -->
            <div class="col-lg-8 mt-4">
                <div class="col-lg mb-4" style="border: #dadce0 1px solid;border-radius: 15px;">
                    <div class="mb-3 ms-3 mt-2 mx-3">
                        <label for="title" class="form-label">Tiêu đề:</label>
                        <input type="text" class="form-control" id="title" required>
                    </div>
                    <div class="mb-3 ms-3 mx-3">
                        <label for="instruction" class="form-label">Hướng dẫn (không bắt buộc):</label>
                        <textarea class="form-control" id="instruction" rows="4"></textarea>
                    </div>
                    <div class="mb-3 form-check ms-3 mx-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Kiểm tra IP</label>
                    </div>
                    <div class="mb-3 form-check ms-3 mx-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Thi trên máy trường</label>
                    </div>
                </div>
                <div class="col-lg mb-4" style="border: #dadce0 1px solid; border-radius: 15px;">
                    <div class="mb-3 ms-3 mt-2 mx-3">
                        <label for="upload-file" class="form-label">Upload file đề thi:</label>
                        <input type="file" multiple class="form-control" id="upload-file">
                    </div>
                </div>
            </div>
            <!-- Cột phải -->
            <div class="col-lg-4 mt-4" style="margin-right: 0px">
                <div class="col-lg mb-4" style="border: #dadce0 1px solid;border-radius: 15px;">
                    <div class="mb-3 mt-2 ms-3 mx-3 ">
                        <p class="form-label">Học phần:</p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="exam1" name="exams[]" value="exam1" checked>
                            <label class="form-check-label" for="exam1">
                                Lập trình Web
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="exam1" name="exams[]" value="exam1">
                            <label class="form-check-label" for="exam1">
                                SQL
                            </label>
                        </div>

                    </div>
                </div>
                <div class="col-lg mb-4" style="border: #dadce0 1px solid;border-radius: 15px;">
                    <div class="mb-3 mt-2 ms-3 mx-3 ">
                        <p class="form-label">Lớp học phần</p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="exam1" name="exams[]" value="exam1">
                            <label class="form-check-label" for="exam1">
                                Nhóm 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="exam1" name="exams[]" value="exam1">
                            <label class="form-check-label" for="exam1">
                                Nhóm 2
                            </label>
                        </div>

                    </div>
                </div>
                <div class="col-lg" style="border: #dadce0 1px solid; border-radius: 15px;">
                    <div class="mb-3 mt-2 ms-3 mx-3 ">
                        <label for="start-time" class="form-label">Thời gian bắt đầu:</label>
                        <input type="datetime-local" class="form-control" id="start-time" required>
                    </div>
                    <div class="mb-3 ms-3 mx-3 ">
                        <label for="deadline" class="form-label">Hạn nộp:</label>
                        <input type="datetime-local" class="form-control" id="deadline" required>
                    </div>

                    <div class="mb-3 form-check ms-3 mx-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Đóng tính năng nộp bài sau ngày đến hạn</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

