@{
    Layout = "~/Views/Shared/Teacher/_Layout.cshtml";
}

<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
                <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                    <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                            Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                        </h6>
                    </div>
                </div>
                <div class="position-relative" style="background-color: white;">
                    <div class="container p-3" style="height: 200px;">
                        <!-- Container content and buttons -->

                        <div class="float-end">
                            <a href="~/TeacherCourse/Index" class="btn btn-primary">Xem</a>
                            <a href="~/TeacherExam/CreateExam" class="btn btn-secondary ms-2">Tạo kỳ thi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
                <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                    <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                            Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                        </h6>

                    </div>
                </div>
                <div class="position-relative" style="background-color: white;">
                    <div class="container p-3" style="height: 200px;">
                        <!-- Container content and buttons -->

                        <div class="float-end">
                            <button class="btn btn-primary">Xem</button>
                            <button class="btn btn-secondary ms-2">Tạo kỳ thi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
                <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                    <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                            Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                        </h6>

                    </div>
                </div>
                <div class="position-relative" style="background-color: white;">
                    <div class="container p-3" style="height: 200px;">
                        <!-- Container content and buttons -->

                        <div class="float-end">
                            <button class="btn btn-primary">Xem</button>
                            <button class="btn btn-secondary ms-2">Tạo kỳ thi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
                <div class="card-body pt-3 p-4" style="background-color: royalblue;">
                    <h6 class="fw-semibold fs-4" style="color: white;">Nhập môn trí tuệ nhân tạo</h6>
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="fw-semibold fs-4 mb-0" style="color: white;">
                            Phước Đoàn Hồng Thị <span class="ms-2 fw-normal text-muted fs-3" style="color: white;"></span>
                        </h6>

                    </div>
                </div>
                <div class="position-relative" style="background-color: white;">
                    <div class="container p-3" style="height: 200px;">
                        <!-- Container content and buttons -->

                        <div class="float-end">
                            <button class="btn btn-primary">Xem</button>
                            <button class="btn btn-secondary ms-2">Tạo kỳ thi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
