@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form id="formShipping" action="~/Admin/Order/Shipping/@ViewBag.OrderID" method="post">
            <div class="modal-header bg-primary">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Chọn học phần</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Danh sách :</label>
                    <select class="form-select" name="ShipperID">
                        <option value="0">-- Chọn học phần ---</option>
                        
                            <option value="1">Lập trình web - Nhóm 1 - </option>
                        
                    </select>
                    <span id="errorMessage" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Chọn
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>
@section scripts
{
<script>
    $(document).ready(function () {
        $("#formShipping").submit(function (e) {
            e.preventDefault();
            var data = $(this).serializeArray();
            var link = $(this).prop("action");
            $.ajax({
                url: link,
                data: data,
                type: "POST",
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (msg) {
                    if (msg !== "") {
                        $("#errorMessage").html(msg);
                    }
                    else {
                        window.location.reload();
                    }
                }
            });
        });
    })
    </script>
}