@{
    ViewData["Title"] = "SelectStudents";
    Layout = "~/Views/Shared/Teacher/_Layout.cshtml";
}


<div class="container-fluid">
    <h2>Chọn sinh viên tham gia</h2>
    <div class="d-flex justify-content-between">
        <div class="mb-3">
            <input type="text" class="form-inline" id="searchInput" placeholder="Nhập mã sinh viên...">
            <button type="button" class="btn btn-primary" id="">Thêm</button>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary" id="">Xác nhận</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="col-lg mb-4" style="border: #dadce0 1px solid;border-radius: 15px;">
                <div class="mb-3 mt-2 ms-3 mx-3">
                    <h4>Lớp A</h4>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="selectAllClassA">
                        <label class="form-check-label" for="selectAllClassA">
                            Chọn tất cả
                        </label>
                    </div>
                    <div id="classAStudents">
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student1">
                            <label class="form-check-label" for="student1">MSV1: Sinh viên 1</label>
                        </span>
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student2">
                            <label class="form-check-label" for="student2">MSV2: Sinh viên 2</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg mb-4" style="border: #dadce0 1px solid;border-radius: 15px;">
                <div class="mb-3 mt-2 ms-3 mx-3">
                    <h4>Lớp A</h4>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="selectAllClassA">
                        <label class="form-check-label" for="selectAllClassA">
                            Chọn tất cả
                        </label>
                    </div>
                    <div id="classAStudents">
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student1">
                            <label class="form-check-label" for="student1">MSV1: Sinh viên 1</label>
                        </span>
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student2">
                            <label class="form-check-label" for="student2">MSV2: Sinh viên 2</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg mb-4" style="border: #dadce0 1px solid;border-radius: 15px;">
                <div class="mb-3 mt-2 ms-3 mx-3">
                    <h4>Lớp A</h4>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="selectAllClassA">
                        <label class="form-check-label" for="selectAllClassA">
                            Chọn tất cả
                        </label>
                    </div>
                    <div id="classAStudents">
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student1">
                            <label class="form-check-label" for="student1">MSV1: Sinh viên 1</label>
                        </span>
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student2">
                            <label class="form-check-label" for="student2">MSV2: Sinh viên 2</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-lg mb-4" style="border: #dadce0 1px solid;border-radius: 15px;">
                <div class="mb-3 mt-2 ms-3 mx-3">
                    <h4>Khác</h4>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="selectAllClassA">
                        <label class="form-check-label" for="selectAllClassA">
                            Chọn tất cả
                        </label>
                    </div>
                    <div id="classAStudents">
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student1">
                            <label class="form-check-label" for="student1">MSV1: Sinh viên 1</label>
                        </span>
                        <span class="d-block">
                            <input type="checkbox" class="form-check-input" id="student2">
                            <label class="form-check-label" for="student2">MSV2: Sinh viên 2</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



