<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giảng viên - Quản lý kỳ thi</title>
    <link rel="shortcut icon" type="image/png" href="~/Modernize-1.0.0/src/assets/images/logos/Logo-ko-nen.png" />
    <link rel="stylesheet" href="~/Modernize-1.0.0/src/assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/modernize-1.0.0/ckeditor5-41.3.1-vpa9zder318e/build/ckeditor.js"></script>
    
</head>
<body>
    <!--  Body Wrapper -->

    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        @Html.Partial("~/Areas/Teacher/Views/Shared/_SideBar.cshtml")
        <div class="body-wrapper">
            @Html.Partial("~/Areas/Teacher/Views/Shared/_Header.cshtml")

            @RenderBody()

        </div>
    </div>
    <script src="~/Modernize-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/js/sidebarmenu.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/js/app.min.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/js/dashboard.js"></script>
    <script src="~/modernize-1.0.0/src/assets/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
