@{
    Layout = "~/Views/Shared/Student/_Layout.cshtml";
}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                                type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                            Thông tin về lớp học
                            phần
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                            Kì thi của lớp
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <fieldset class="container-fluid form-horizontal hitec-fieldset">
                            <legend>Thông tin chung</legend>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Tên lớp học phần:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Nhập m&#244;n tr&#237; tuệ nh&#226;n tạo - Nh&#243;m 5</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Mã lớp học phần:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">2022-2023.2.TIN3113.005</p>
                                </div>
                                <label class="control-label col-xs-3">Số tín chỉ:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">3</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Giảng viên:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Đoàn Thị Hồng Phước,Nguyễn Ngọc Thủy (1990)</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Đơn vị phụ trách:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Khoa C&#244;ng nghệ th&#244;ng tin</p>
                                </div>
                            </div>

                        </fieldset>



                        <fieldset class="container-fluid form-horizontal hitec-fieldset">
                            <legend>Cách đánh giá điểm quá trình học, điểm thi kết thúc học phần (dự kiến)</legend>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Điểm QTHT:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static"> Điểm CC x 10% + Điểm KT1 x 10% + Điểm KT2 x 20%</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Điểm kết thúc học phần:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Điểm QTHT x 40% + Điểm thi x 60%</p>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="container-fluid form-horizontal hitec-fieldset">
                            <legend>Thông tin liên quan đến đăng ký học của sinh viên</legend>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Thời điểm đăng ký:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">12/12/2022 10:26</p>
                                </div>

                                <label class="control-label col-xs-3">Hình thức đăng ký:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">Sinh vi&#234;n đăng k&#253;</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Tính tích lũy tín chỉ:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Học phần có tính tích lũy tín chỉ</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Trạng thái xử lý:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">Đ&#227; được duyệt</p>
                                </div>
                                <label class="control-label col-xs-3">Thời điểm xử lý:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">19/12/2022 14:22</p>
                                </div>
                            </div>

                            <div class="row form-group hitec-border-bottom-dotted">
                                <label class="control-label col-xs-3">Lần học:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">1</p>
                                </div>
                                <label class="control-label col-xs-3">Học phí:</label>
                                <div class="col-xs-3">
                                    <p class="form-control-static">1,155,000</p>
                                </div>
                            </div>

                        </fieldset>
                        <fieldset class="container-fluid form-horizontal hitec-fieldset">
                            <legend>Kết quả đánh giá quá trình học tập</legend>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:14%; vertical-align:top">Điểm CC<br />(10%)</th>
                                        <th class="text-center" style="width:14%; vertical-align:top">Điểm KT1<br />(10%)</th>
                                        <th class="text-center" style="width:14%; vertical-align:top">Điểm KT2<br />(20%)</th>
                                        <th class="text-center" style="width:14%; vertical-align:top">Điểm KT3<br /></th>
                                        <th class="text-center" style="width:14%; vertical-align:top">Điểm KT4<br /></th>
                                        <th class="text-center" style="width:14%; vertical-align:top">Điểm KT5<br /></th>
                                        <th class="text-center" style="width:auto; vertical-align:top">Điểm<br />QTHT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">8.9</td>
                                        <td class="text-center">6.5</td>
                                        <td class="text-center">7.0</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">7.4</td>
                                    </tr>
                                </tbody>
                            </table>

                        </fieldset>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div id="content">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    