@{
    Layout = null;
}
<div class="mt-4 ms-5 mx-5">
    <h2 class="mb-4 ms-4">Danh sách kì thi</h2>
    <ul class="list-unstyled">
        <li class="card" style="height: 60px;">
            <a href="~/StudentExam/Detail" class="card-link mb-3 p-3 ms-3 mx-3">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-auto ms-3"><b>Thi kết thúc học phần</b></h5>
                    <p class="mb-0 text-dark mx-3">Đến hạn: 2024-03-15</p>
                </div>
            </a>
        </li>
        <li class="card" style="height: 60px;">
            <a href="exam.html" class="card-link mb-3 p-3 ms-3 mx-3">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-auto ms-3"><b>Kiểm tra giữa kỳ</b></h5>
                    <p class="mb-0 text-dark mx-3">Đến hạn: 2024-03-15</p>
                </div>
            </a>
        </li>
        <li class="card" style="height: 60px;">
            <a href="exam.html" class="card-link mb-3 p-3 ms-3 mx-3">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-auto ms-3"><b>Kỳ thi 1</b></h5>
                    <p class="mb-0 text-dark mx-3">Đến hạn: 2024-03-15</p>
                </div>
            </a>
        </li>
    </ul>
</div>