@model IEnumerable<KLTN20T1020433.Application.DTOs.TeacherDTOs.GetCourseResponse>
@{
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="d-md-none d-inline mb-2">
        <select class="form-select">
            <option value="1">Học kỳ: 2, năm học: 2023-2024</option>
            <option value="2">Học kỳ: 2, năm học: 2023-2024</option>
            <option value="3">Học kỳ: 2, năm học: 2023-2024</option>
            <option value="4">Học kỳ: 2, năm học: 2023-2024</option>
        </select>
    </div>
    <h5 class="card-title fw-semibold mb-4 mt-4">Danh sách lớp học</h5>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-xl-3 col-10 col-md-4">
                <div class="card overflow-hidden rounded-2" style="justify-content: center">
                    <div class="card-body pt-3 p-3" style="background-color: royalblue;">

                        <h6 class="fw-semibold fs-4 overflow-hidden" style="color: white; text-overflow: ellipsis; white-space: nowrap;">@item.CourseName</h6>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0" style="color: white;">

                            </p>
                        </div>

                    </div>
                    <div class="position-relative" style="background-color: white;">
                        <div class="container p-3 d-flex flex-column justify-content-between" style="height: 180px;">
                            <!-- Container content and buttons -->
                            
                            <div class="text-end">
                                <a class="btn btn-secondary ms-2" href="@Url.Action("Create","Test",new{type = "quiz"})">Tạo đợt kiểm tra</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>