@using KLTN20T1020433.Domain.Submission
@using KLTN20T1020433.Web.AppCodes
@model KLTN20T1020433.Web.Areas.Student.Models.SubmissionFileModel
@{
    Layout = null;
}
@if (Model.Files != null && Model.Files.Any())
{
    @foreach (var item in Model.Files)
    {
        <div class="mb-2">
            <div class="border rounded-2 overflow-hidden hstack">
                <a href="@Url.Action("DownLoadFile", "Test" , new { id = item.FileId, testId=@Model.TestId, isTestFile = false})" class="flex-grow-1 overflow-hidden hstack">
                    <div class="flex-shrink-0 position-relative mx-1 border border-end custom-box">
                        @Html.Raw(Helper.GetIconClassFromFileExtension(item.FileType))
                    </div>
                    <div class="overflow-hidden">
                        <span class="text-truncate d-block">@item.OriginalName</span>

                    </div>
                </a>
                @if (Model.Status == SubmissionStatus.NotSubmitted || Model.Status == SubmissionStatus.Absent)
                {
                    <div class="hstack overflow-hidden">
                        <button class="remove-button border-0 btn btn-light" type="button" data-fileid="@item.FileId" style="height: 100%;">
                            <i class="bi bi-x-lg">
                            </i>
                        </button>

                    </div>
                }
            </div>
        </div>
    }
}

