@model IEnumerable<KLTN20T1020433.Application.DTOs.TeacherDTOs.GetExamScheduleResponse>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-body px-2 py-1">


            <h6 class="fs-3 fw-semibold">@item.CourseName</h6>
            <div class="d-flex justify-content-between align-items-center">
                <span class="fs-2 text-muted">Ngày thi: @item.ExamDate</span>
                <span class="fs-2">@item.ExamDuration Phút</span>
            </div>

        </div>
    </div>
}

