@using KLTN20T1020433.Web.AppCodes
@model KLTN20T1020433.Web.Areas.Teacher.Models.TestFileModel
@{
    Layout = null;
}
@if (Model.Files != null && Model.Files.Any())
{
    @foreach (var item in Model.Files)
    {
        <div class="mb-2">
            <div class="d-flex p-2 border rounded-1 justify-content-between align-items-center">
                <a href="@Url.Action("DownLoadFile", "Test" , new { id = item.FileId, testId = Model.TestId})" class="d-block text-truncate">
                    @Html.Raw(Helper.GetIconClassFromFileExtension(item.FileType))
                    <span>@item.OriginalName</span>
                </a>


                <button class="remove-button border-0 btn btn-light" type="button" data-fileid="@item.FileId" style="height: 100%;">
                    <i class="bi bi-x-lg">
                    </i>
                </button>


            </div>
        </div>


    }
}
else
{
    <div>Không có tệp đính kèm</div>
}
