@using KLTN20T1020433.Application.DTOs.TeacherDTOs
@model IEnumerable<GetStudentResponse>
@{
    Layout = null;
}
<input type="text" id="searchInput" class="form-control mb-3" placeholder="Search...">
<div class="mb-3">
    <button id="selectAllBtn" class="btn btn-primary mr-2">Select All</button>
    <button id="clearAllBtn" class="btn btn-danger">Clear All</button>
</div>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <input type="checkbox" class="mr-2" name="studentSelecting" value="@item.StudentId">

            <p>@item.FirstName</p>
        </li>
       
    }
</ul>
<script>
    $('#selectAllBtn').click(function () {
        $('#studentList input[type="checkbox"]').prop('checked', true);
    });

    // Clear all button click event
    $('#clearAllBtn').click(function () {
        $('#studentList input[type="checkbox"]').prop('checked', false);
    });
</script>