@model KLTN20T1020433.Web.Areas.Teacher.Models.StudentModel
@{
    Layout = null;
}
<table class="table table-hover table-md">
    <thead class="table-light">
        <tr>
            <th scope="col">
                <div>
                    <input type="checkbox" class="form-check-input me-4" id="selectAll">
                </div>
            </th>
            <th scope="col">
                Mã sinh viên
            </th>
            <th scope="col">
                Họ và tên
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Students != null && Model.Students.Any())
        {
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        <div>
                            <input type="checkbox" class="form-check-input me-4 student-checkbox"
                                   name="studentSelecting" value="@item.StudentId">
                        </div>
                    </td>
                    <td>
                        20T1020433
                    </td>
                    <td>
                        Châu Anh Kiệt
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">Không tìm thấy dữ liệu.</td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#listStudents #selectAll').on('change', function () {
            var isChecked = $(this).prop('checked');
            $('#listStudents .student-checkbox').prop('checked', isChecked);
        });

        $('#listStudents .student-checkbox').on('change', function () {
            var allChecked = $('#listStudents .student-checkbox:checked').length === $('#listStudents .student-checkbox').length;
            $('#listStudents #selectAll').prop('checked', allChecked);
        });

        $('#selectedStudents #selectAll').on('change', function () {
            var isChecked = $(this).prop('checked');
            $('#selectedStudents .student-checkbox').prop('checked', isChecked);
        });

        $('#selectedStudents .student-checkbox').on('change', function () {
            var allChecked = $('#selectedStudents .student-checkbox:checked').length === $('#selectedStudents .student-checkbox').length;
            $('#selectedStudents #selectAll').prop('checked', allChecked);
        });
    })
</script>