@using KLTN20T1020433.Application.DTOs.TeacherDTOs
@model IEnumerable<GetStudentResponse>
@{
    Layout = null;
}
<table class="table table-hover table-md">
    <thead class="table-light">
        <tr>
            <th scope="col">
                <div>
                    <input type="checkbox" class="form-check-input me-4" id="student1Check"
                           name="studentSelecting">
                </div>
            </th>
            <th scope="col">
                Mã sinh viên
            </th>
            <th scope="col">
                Họ và tên
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        <input type="checkbox" class="form-check-input me-4" id="student1Check"
                               name="studentSelecting" value="@item.StudentId">
                    </div>
                </td>
                <td>
                    20T1020433
                </td>
                <td>
                    Châu Anh Kiệt
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#selectAllBtn').click(function () {
        $('#studentList input[type="checkbox"]').prop('checked', true);
    });

    // Clear all button click event
    $('#clearAllBtn').click(function () {
        $('#studentList input[type="checkbox"]').prop('checked', false);
    });
</script>