@model KLTN20T1020433.Application.Queries.TeacherQueries.GetSubmissionsBySearchQuery
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h1>@Model.Title</h1>
            <div class="d-none d-sm-inline">
                <button class="btn btn-outline-secondary">Tải xuống tất cả</button>
            </div>
            <div class="d-inline d-sm-none">
                <button class="btn btn-outline-secondary">
                    <i class="bi bi-download"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding: 5px">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center mb-3 d-none">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkAll">
                    <label class="form-check-label fw-bold" for="checkAll">
                        Tất cả (7)
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" checked>
                    <label class="form-check-label text-success fw-bold" for="check1">
                        Đã nộp (1)
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label text-warning fw-bold" for="check2">
                        Thiếu (1)
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check3">
                    <label class="form-check-label text-info fw-bold" for="check3">
                        Đang chờ xử lý (1)
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check4">
                    <label class="form-check-label text-danger fw-bold" for="check4">
                        Đã nộp muộn (4)
                    </label>

                </div>
            </div>
            <div class="dropdown d-sm-none d-inline">
                <button class="btn btn-secondary dropdown-toggle mb-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Lọc
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><label class="dropdown-item fw-bold"><input type="checkbox" value="item1"> Tất cả (7)</label></li>
                    <li><label class="dropdown-item text-success fw-bold"><input type="checkbox" value="item2"> Đã nộp (1)</label></li>
                    <li><label class="dropdown-item text-warning fw-bold"><input type="checkbox" value="item3"> Thiếu (1)</label></li>
                    <li><label class="dropdown-item text-info fw-bold"><input type="checkbox" value="item3"> Đang chờ xử lý (1)</label></li>
                    <li><label class="dropdown-item text-danger fw-bold"><input type="checkbox" value="item3"> Đã nộp muộn (4)</label></li>
                </ul>
            </div>
            <div id="searchResult">

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function initialize() {
            doSearch("#formSearch", @Model.Page);
            bindEvents();
        }
        $(document).ready(function () {
            initialize();
        });
        function bindEvents() {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return;
            });           
        }     
        function doSearch(formSearchInput, page) {
            var url = $(formSearchInput).prop("action");
            var container = $(formSearchInput).data("container");
            var postData = $(formSearchInput).serializeArray();
            var searchValue = $('#searchValue').val();
            postData.push(
                { "name": "page", "value": page },
                { "name": "FromTime", "value": $('#fromTime').val() },
                { "name": "ToTime", "value": $('#toTime').val() },
                { "name": "SearchValue", "value": searchValue }
            );
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                },
                success: function (data) {
                    $(container).html(data);
                }
            });

            return;
        }
        
    </script>
}