@model KLTN20T1020433.Web.Areas.Teacher.Models.TestFileModel
@{
    Layout = null;
}
@if (Model.Files != null && Model.Files.Any())
{
    @foreach (var item in Model.Files)
    {
        <div class="mb-2">
            <div class="px-2 border rounded-2 overflow-hidden hstack">
                <a href="@Url.Action("DownLoadFile", "Test" , new { id = item.FileId, testId=@Model.TestId})" class="flex-grow-1 overflow-hidden hstack">
                    <div style="height: 3.5rem; width:3.5rem; border-right: .0625rem solid #e0e0e0" class="flex-shrink-0 position-relative mx-1 overflow-hidden">
                        <img src="@item.FileIcon" width="50px" class="mx-1" style="width: 100%; height: auto;">
                    </div>
                    <div class="overflow-hidden">
                        <span class="text-truncate d-block">@item.OriginalName</span>

                    </div>
                </a>

                <div class="hstack overflow-hidden">
                    <button class="remove-button border-0 btn btn-light" type="button" data-fileid="@item.FileId" style="height: 100%;">
                        <i class="bi bi-x-lg">
                        </i>
                    </button>
                </div>

            </div>
        </div>


    }
}
else
{
    <div>Không có tệp đính kèm</div>
}
