<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên sinh viên</th>
                        <th scope="col">Giờ nộp</th>
                        <th scope="col">Địa chỉ IP</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Số file đính kèm</th>
                        <th scope="col">Xem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Châu Anh Kiệt</td>
                        <td>12:30 PM</td>
                        <td>192.168.1.1</td>
                        <td class="text-success">Đã nộp</td>
                        <td>2</td>
                        <td><a href="Submission">x</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>