@model KLTN20T1020433.Web.Areas.Teacher.Models.TestSearchResult
@{
    Layout = null;
}
<div class="row">
    <div class="col">
        <ul class="list-unstyled">
            @foreach (var item in Model.Data)
            {
                <li class="card mb-3">
                    <a href="~/Teacher/Test/Detail/@item.TestId" class="card-link p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="mb-0">@item.Title</h5>
                                <p class="mb-0">@item.TeacherName</p>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <!-- Biểu tượng ba chấm (ellipsis) -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M5 1.5a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm5 0a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-13zm-5-1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1zm5 0a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h.5a1 1 0 0 0 1-1v-13a1 1 0 0 0-1-1z" />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="~/Teacher/Test/Update/@item.TestId">Chỉnh sửa</a></li>
                                    <li><a class="dropdown-item" href="~/Teacher/Test/Delete/@item.TestId">Xóa</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
        @if (Model.PageCount > 1)
        {
            <div class="text-center">
                <ul class="pagination d-flex justify-content-center">

                    @for (int p = 1; p <= Model.PageCount; p++)
                    {
                        if (Model.Page == p)
                        {
                            <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" onclick="doSearch('#formSearch',@p)">@p</a>

                            </li>
                        }
                    }
                </ul>
            </div>
        }
    </div>
</div>
