@model KLTN20T1020433.Web.Areas.Teacher.Models.SubmissionModel
@{
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid ps-0 pe-0">
    <h1>@Model.Submission.StudentName</h1>
    @if (Model.Files != null && Model.Files.Any())
    {
        @foreach (var filePath in Model.Files)
        {
            <a href="#" class="file-link" data-file-id="@filePath.FileId">@filePath.OriginalName</a>
            <br />
        }
    }
</div>
<div id="filePreview"></div>
<script>
    $(document).ready(function () {
        $(".file-link").on('click', function (event) {
            event.preventDefault();
            var fileId = $(this).data("file-id");
            viewFile(fileId);
        });
    });
    function viewFile(fileId) {
        var url = '@Url.Action("SubmissionFile", "Test")';
        $.ajax({
            url: url,
            type: "GET",
            data: { fileId: fileId },
            success: function (data) {
                $("#filePreview").html(data);
            },
            error: function () {
                alert("Your request is not valid!");
            }
        });
    }

</script>


